* { margin: 0; padding: 0; box-sizing: border-box;}
html {font-size: 10px; scroll-behavior: smooth;}
body {background: #d6f7fc; font-family: "Noto Serif", Garamond, "Times New Roman", serif; line-height: 1.476; font-size: 2.1rem;}
body > * {padding-left: 4vw!important; padding-right: 4vw!important;}
header {position: absolute; width: 100%;}
header, footer {background: #2275a5; color: white; letter-spacing: -0.0277em; font-size: 1.8rem; font-family: 'Inter';}
header h1 {font-size: 1.8rem; font-weight: 500; color: white;}
header h1 span {margin-left: 2.1rem;}
header h1 a {font-weight: 700; font-size: 2.4rem; white-space: nowrap;}
header h1 a.active {text-decoration: none!important;}
header h1 a:hover {text-decoration: underline!important;}
header nav {display: flex; gap: 2.5rem; font-weight: 500; align-items: center; position: relative; top: 0.2rem;}
header nav + a {display: none;}
header nav a:last-child {background: url(assets/images/search.svg) center center / 2.4rem auto no-repeat; margin-left: 4rem; position: relative; bottom: 0.3rem;}
header .container > a {background: url(assets/images/dots.svg) center center / 3.2rem auto no-repeat}
header .container > a, header nav a:last-child {font-size: 1.3rem; font-weight: 600; padding-top: 5rem; min-width: 2.8rem; text-align: center; position: relative;}
header nav a:last-child::before {content: ""; position: absolute; height: 3rem; width: 1px; background: rgba(255,255,255,0.2); left: 0; top: 2.2rem; margin-left: -3.2rem;}

footer span {font-weight: 700;}
footer .container div {display: flex; gap: 2.4rem;}
main {padding-bottom: 12rem; min-height: calc(100vh - 10rem);}
.container {display: flex; justify-content: space-between; align-items: center; height: 10rem; max-width: 168rem; margin: 0 auto;}
.container a {color: white; text-decoration: none;}
.container a:hover, .container a.active {text-decoration: underline;}

h1, h2, h3 {color: #000000; font-family: 'Inter'; font-style: normal; font-weight: 800; letter-spacing: -0.0415625em;}
a[onclick] {cursor: pointer;}
pre {font-size: 2rem; background: rgba(0,0,0,0.05); padding: 1.5rem 2rem; overflow: auto;}
img {max-width: 100%;}

section {display: none; padding-top: 10rem;}
section:target {display: block;}
section > * {max-width: 58rem; margin: 0 auto;}
section a {color: rgb(217, 17, 70);}
section a:hover {text-decoration: none;}
section > h2:first-child {padding: 8rem 4vw; background: #2275a5; color: white; max-width: none; width: 100vw; margin: 0 -4vw 8rem; text-align: center; font-size: 8.4rem; line-height: 1.138888889;}
section > h3 {font-weight: 700; font-size: 4rem; margin: 6rem auto 3rem;}
section li {margin-left: 2rem;}
section article, section > p:first-child {padding-top: 8rem;}
section article {max-width: 120rem; position: relative; width: 100%;}

article > h1:first-child, article > h2:first-child {font-size: 6.4rem;}
article > h1:first-child, article > h2:first-child, article > time {line-height: 1.138888889; max-width: 100%; text-align: center; margin: 0;}
article > * {max-width: 58rem; margin: 0 auto;}
section > *, article > * {margin-bottom: 1.25em;}
article > time {display: block; letter-spacing: -0.016875em; color: #2b636d; font-weight: 500; font-family: 'Inter'; font-size: 1.6rem; margin: 3.4rem 0 8rem;}
article > time::before {content: ""; display: inline-block; width: 1.7rem; height: 1.7rem; background: url(images/calendar.svg) center center / contain no-repeat; position: relative; top: 0.2rem; margin-right: 1rem;}
article + article {border-top: 1px solid #2b636d; margin-top: 8rem;}
article + article::before {content: "//"; background: #d6f7fc; padding: 0 0.5rem 0 0.75rem; position: absolute; display: inline-block; left: 50%; top: 0; transform: translate(-50%, -50%) skew(-8deg); color: #2b636d; font-size: 1.8rem; font-family: 'Inter'; letter-spacing: 0.25rem; margin-top: -0.1rem;}

form {padding-top: 2rem;}
form > div {display: flex; flex-direction: column; padding-bottom: 2rem;}
form > div label {margin-bottom: .35em; font-size: 1.6rem;}
form > div textarea, form > div input {padding: 1.5rem 1.8rem; font-size: 2rem; font-family: "Noto Serif", Garamond, "Times New Roman", serif;}
form > div textarea {height: 20rem; min-width: 100%; max-width: 100%;}
form > div input[type="submit"] {background-color: #d91146; border: 0; color: white; font-family: 'Inter'; font-weight: 700; letter-spacing: -0.0415625em; cursor: pointer; margin-top: 1rem;}

@media screen and (max-width: 75rem) {
    header nav {position: relative; top: 0;}
    header nav a {display: none;}
    header nav + a {display: block;}
    header nav + a:hover {text-decoration: none;}
    header nav a:last-child {display: block; margin-left: 0; background-size: 3.2rem auto; bottom: 0;}
    header nav a:last-child::before {content: none;}
    body.menuopen header nav {height: 100vh; position: fixed; top: 0; left: 0; width: 100%; display: block; background: #2275a5; z-index: 99; padding-top: 8rem; cursor: pointer;}
    body.menuopen header nav a:first-child {border-top: 1px solid rgba(255,255,255,0.2);}
    body.menuopen header nav a {display: block; padding: 2rem 4vw; border-bottom: 1px solid rgba(255,255,255,0.2); font-size: 2.5rem;}
    body.menuopen header nav a:last-child {display: none;}
    body.menuopen header nav::before,
    body.menuopen header nav::after {content: ""; display: block; width: 3rem; height: 0.3rem; transform: rotate(45deg); background: white; position: absolute; top: 4rem; right: 4vw;}
    body.menuopen header nav::after {transform: rotate(-45deg);}
    header .container > a, header nav a:last-child {padding-top: 6rem; min-width: 3.4rem; position: relative; bottom: 0.6rem; margin-right: -4vw; padding-right: 4vw; margin-left: -4vw; padding-left: 4vw;}
    header h1 {position: absolute; left: 50%; transform: translate(-50%);}
    header h1 span {display: none;}
    header h1 a {font-size: 2.8rem; font-weight: 600;}
    main {min-height: calc(100vh - 11rem);}
    .container {height: 11rem;}
    section {padding-top: 11rem;}
}
@media screen and (max-width: 40rem) {
    html {font-size: 1.55vw;}
    section > h2:first-child {font-size: 5rem; padding: 6rem 4vw;}
    article > h1:first-child, article > h2:first-child {font-size: 4.6rem;}
    footer .container > div > span + a {display: none;}
}
@media screen and (max-width: 32rem) {
    html {font-size: 7.7px;}
}