* { margin: 0; padding: 0; box-sizing: border-box;
  
  /* Color scheme */
  
  --textcolor: #121212;
  --bgcolor: #fff;
  --highlight: #121212;

}

@media (prefers-color-scheme: dark) {
  * {
    --textcolor: #dadada;
    --bgcolor: #141414;
    --highlight: #ffc400;
  }
}

html {font-size: 18px;}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  color: var(--textcolor);
  background: var(--bgcolor);
  position: relative;
  margin: 0 auto;  /* centers the layout */
  padding: 0 4vw;
}
body > * {
  max-width: 54rem; margin-left: auto; margin-right: auto; /* remove this for a full-width layout */
}


/* ------- Sections ------- */

section {
  padding: 15rem 0 11em;
  display: none;
  top: 0;
  /*min-height: 100vh;*/
  width: 100%;
  background: var(--bgcolor);
}


section:target { /* Show section */
  display: block;
}

/* ------- Header ------- */

header {
  padding: 5rem 0 0;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 92vw;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}
footer {
  display: flex;
  justify-content: space-between; 
  font-size: 80%; 
  padding: 0 0 5rem;
}

header h1 {
  font-size: 1em;
  flex: 1; /* pushes nav to the right */
  white-space: nowrap;
  padding: 0 5vw .5em 0;
}

nav a:not(:last-of-type) {
  margin-right: 1.5vw;
}

/* ------- General ------- */

section a:hover, a {
  text-decoration: none;
  color: var(--highlight);
  border: 0;
}

section a, a:hover {
  border-bottom: 1px solid;
}

section h1 {
  font-size: 1em;
  margin: 0 0 1em 0;
}

h2, h3, h4 {
  font-size: 1em;
  font-weight: 600;
  margin: 1.6em 0 .6em 0;
}

p, ul, ol, article {
  max-width: 60ch; /* Limit line-length to 60 characters */
  margin-bottom: .6em;
}

ul {
  list-style-type: none;
}

ul li::marker {
  content: "\2022   ";
}

li {
  margin-bottom: .2em;
}

ul, ol {
  padding-left: 2ch;
}

b, strong {
  font-weight: 600;
}

small {
  font-size: .85em;
}

hr {
  height: 1px;
  border: 0;
  background: currentColor;
  opacity: .1;
  margin: 1.2em 0;
}

abbr {
  text-decoration: none;
}

abbr[title]:hover {
  opacity: .7;
  cursor: help;
}

blockquote {
  padding-left: 2ch;
  opacity: .7;
  margin-bottom: .6em;
  position: relative;
}

blockquote:before {
  content: "";
  position:absolute;
  left: 0;
  top: .3em;
  bottom: .3em;
  background: currentColor;
  width: 1px;
  opacity: .2;
}

img, svg, video, audio {
  display: block;
  max-width: 100%;
  height: auto;
  fill: currentColor;
}
  
code, textarea {
  font-family: ui-monospace, SF Mono, Menlo, Monaco, Andale Mono, monospace;
  font-size: 1em;
  opacity: .7;
}

a code {
  opacity:1;
}

pre, textarea { /* for code samples */
  font-size: .9em;
  color: inherit;
  line-height:inherit;
  padding:.6em .9em;
  margin: .8em 0 1em 0;
  position: relative;
  display: block;
  width: 100%;
  white-space: pre;
  border:0;
  border-radius: 4px;
  background:rgba(255,255,100,.075);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.2), inset -1px -1px 0 rgba(0,0,0,.04) ;
}

/* Inline footnotes */

label {
  cursor: pointer;
  vertical-align: super;
  line-height: 1;
  font-size: .75em;
  padding-left: .1em;
}

label:hover {
  color: var(--highlight);
}

label:before {content:"[";}
label:after {content:"]";}

label + input,
label + input + small {
  display: none;
}

input:checked + small {
  display: block;
  padding: .8em 0 1em 2.5vw;;
}

/* Figures */

figure {
  margin: 2em 0 1.5em 0;
}

figure figcaption {
  margin: 0.8em 0 0 0;
  font-size: .85em;
  opacity: .7;
}

/* Responsive video embeds */

figure.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
}

figure.video iframe, figure.video object, figure.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  visibility: hidden; /* so loading="lazy" should work? */
}

section:target iframe {
  visibility: visible;
}


/* ------- News ------- */

article + article {
  margin-top: 4.5em;
}

article h2 {
  font-weight: 700;
  margin: 0 0 1em 0;
}

article time {
  margin-left: .6em;
  font-size: .8em;
  font-weight: 400;
  opacity: .7;
}

/* ------- Images Grid ------- */

.grid {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 150px = minimum image size */
  grid-auto-flow: dense;
  padding-bottom: 1.6rem;
}

.grid a {
  position: relative;
  border: 0;
}

.grid a:hover {
  transform: scale(.975);
}

.grid a img {
  top: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1.5;
}

@media only screen and (max-width: 680px) {
  body { font-size: 16px; }
}

@media only screen and (max-width: 540px) {
  nav { width: 100%; } /* Fix for older webkit versions */
}

/* ------- Print ------- */

@media print {
  
  nav, .lightbox:target:after { display: none; }
  
  article, figure, img {
    page-break-inside: avoid;
    break-inside: avoid;
  }
  
  /* Inline footnotes */
  
  label + input + small { display: inline; }
  label + input + small:before { content: "["; }
  label + input + small:after { content: "]"; }
    
}